:root{
  --bg-color:#1F1F1F;
  --bg-color-variant:#1f1f1f6e;
  --light-color-variant:#f5f5f5ce;
  --primary-color:#0011d0;
  --light-color:#F5F5F5;
  --primary-color--variant:#0011d09c;
}

body {
  background:var(--bg-color);
  padding:2% 5%;
}

/* -------------------------- nav ------------------------*/
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.navigation-menu {
  margin-left: auto;
}
.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation-menu li{
  list-style: none;
  margin: 0 1rem;
}
.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: var(--light-color);
}
.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: var(--light-color);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: var(--light-color-variant);
}

nav ul li a:hover {
  color: var(--light-color-variant);
}

.logo img {
  max-width: 42px;
}
/* -------------------------- Home ------------------------*/
.home section {
  margin-top: 20px;
  height: 80vh;
  background-image: url('../public/header1-min-min.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

section .button {
  height: 55px;
  font-weight: 600;
  color: var(--primary-color);
  border: none;
  background: var(--light-color-variant);
  width: 40%;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: center;
}

section .button:hover{
  background: var(--light-color);
}

section p {
  font-size: 45px;
  font-weight: bold;
  color: var(--light-color-variant);
  background:var(--bg-color-variant);
  padding: 3px;
}
/* -------------------------- Loan page ------------------------*/
.form-box{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 3% 2%;
  position: relative;
 
}
.loan-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background:var(--light-color);
  width: 64%;
  align-items: center;
  padding: 2%;
}

.select-paire, .input-paire {
  display: flex;
  flex-direction: row;
  width :100%;
  justify-content: space-between;
  flex-wrap :wrap;
}
.select , .input {
  display: flex;
  flex-direction: column;
  width :49%;
  height : 55px
}

.select select , .input input {
  height : 55px;
  background:var(--light-color);
}
.select label , .input label {
  margin-bottom : 5px
}
.tree{
  width :30%;
}

.sub-button{
  margin-top: 20px;
  width: 100%;
  height: 50px;
  border: none;
  font-size: 22px;
  font-weight: 600;
  background: var(--primary-color);
  color: var(--light-color);
  cursor: pointer;

}
.sub-button:hover{
  background: var(--primary-color--variant);
  color: var(--light-color-variant);
}
.succes span {
  color: green;
}
.sorry span{
  color: red
}
.succes p, .sorry p{
  font-size: 25px;
}

/* -------------------------- App Info ------------------------*/
.app-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: var(--light-color-variant);
  margin: 5%;
  padding: 2%;

}
.info-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content {
  width: 70%;
  margin-bottom: 5%;
}
.content img{
  max-width: 100%;
}
.tools-used, .models{
  width: 30%;
}
.content li{
  margin-top: 5%;
}
.content h1 {
  color: var(--primary-color);
}

/* -------------------------- Footer ------------------------*/
.foot-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}
.foot-content a, .foot-content p{
  color: var(--light-color);
  text-decoration: none;
}

/* -------------------------- Media screen ------------------------*/
@media screen and (max-width: 700px){

  .loan-form{
    gap: 7px;
    width: 100%;
    padding: 2%;
  }
  .content{
    width: 100%;
  }
  section .button{
    width: 80%;
    margin: 5px;
  }
  
  nav #icon{
    position: relative;
    display: block;
    padding-right: 10px;
}
nav #icon img {
    max-width: 40px;
}
}
@media screen and (max-width: 400px){

  .form-box{
    margin : 0px;
  }
  .loan-form{
    gap: 7px;
    width: 100%;
    padding: 2%;
  }
  .content{
    width: 100%;
  }
  section .button{
    width: 80%;
    margin: 5px;
  }

  .select , .input {
    display: flex;
    flex-direction: column;
    height : 55px
  }

  .tree{
    width :100%;
  }
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .navigation-menu.expanded ul {
    display: block;
    position: absolute;
    z-index : 1;
  }

  .navigation-menu ul {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: var(--light-color);
    border-top: 1px solid black;
  }
  .navigation-menu li {
    text-align: center;
    margin: 0;
  }
  .navigation-menu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }
  .navigation-menu li:hover {
    background-color: var(--light-color-variant);
  }
}